doctype html
html(lang=language)
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='styles/animate.min.css')
        link(rel='stylesheet' type='text/css' href='styles/tailwind.min.css')
        link(rel='icon', type='image/webp', sizes='32x32', href='images/snowy.webp')
        script(src='https://www.googletagmanager.com/gtag/js?id=G-FG68CTFQGG"' async)
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-FG68CTFQGG');
        script(src='js/index.js' async)
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@1,700&family=Lobster&display=swap', rel='stylesheet')
        title #{t('captain')} Haddock Ipsum#{insult ? ' | ' + insult + '!' : ''}
body(class='bg-amber-100 selection:bg-orange-700 selection:text-white relative')
    main(class='container my-4 flex flex-col items-center md:mt-28')
        div(class='relative mb-8 md:mb-0')
            if insult
                div(class='flex justify-center items-center text-center p-20 font-bangers text-4xl text-stone-800 tracking-wide static left-32 -top-[110px] min-h-[50%] w-96 bg-contain z-10 bg-center bg-no-repeat bg-[url("../images/speech-bubble.webp")] animate__animated animate__tada md:absolute md:p-12') #{insult}!
            div
                a(href='/')
                    img(class='hidden animate__animated md:block', class={ 'animate__zoomIn animate__fast': !insult, animate__headShake: insult }, src='images/captain-haddock.webp', alt='Captain Haddock')
        section(class='animate__animated animate__fadeIn animate__faster')
            h1(class='font-bangers text-5xl text-stone-700 tracking-wide mb-1 md:text-7xl') #{t('captain')} Haddock Ipsum
            p(class='font-lobster text-2xl text-zinc-600 mb-4 md:text-4xl') #{t('description')} 
            form(class='font-lobster bg-amber-100 sticky top-0 z-10', action='/generate-paragraphs', method='post')
                input(class='w-full bg-gray-100 text-zinc-600 text-2xl outline-none border-4 border-white p-3 my-2 md:p-5', type='number', name='numberOfParagraphs', required, min='1', max='1000', placeholder=t('numberOfParagraphsPlaceholder'))
                div(class='flex gap-x-2 mb-1')
                    input(class='bg-blue-400 grow text-white text-2xl p-2 border-4 border-white cursor-pointer transition text-center md:px-8 md:py-4 hover:opacity-80', type='submit', value=t('generateButton'))
                    if paragraphs
                        span(class='copy basis-auto md:basis-1/4 bg-orange-700 text-white text-2xl p-2 border-4 border-white cursor-pointer transition text-center md:px-8 md:py-4 hover:opacity-80', onclick='copyToClipboard("paragraphs")') #{t('copyButton')} 
                div(class='flex gap-x-1 justify-end text-zinc-500 text-xl mb-4')
                    a(class='underline decoration-dotted underline-offset-2 transition hover:opacity-80', href='/?lng=en-US') #{t('english')}
                    span |
                    a(class='underline decoration-dotted underline-offset-2 transition hover:opacity-80', href='/?lng=da') #{t('danish')} 
            if errors
                p(class='font-lobster text-2xl text-zinc-600 text-center md:text-4xl') #{t('validationError')}
            if paragraphs
                #paragraphs(class='animate__animated animate__fadeIn font-comic-neue text-xl text-zinc-600 text-left md:text-justify md:text-2xl')
                    each paragraph in paragraphs
                        p(class='mb-5') #{paragraph}
        a(href='/generate-paragraphs-json?lng=' + language + '&numberOfParagraphs=' +  _.random(5, 30), target='_blank', title='API endpoint')
            img(class='fixed h-[10%] bottom-0 right-0 animate__animated animate__faster animate__delay-1s', class={ animate__slideInUp: !insult }, src='images/snowy.webp', alt='Snowy')

